<h1>Welcome to Meadowlark Travel</h1>

<p><a href="/vacations">Check out our vacations</a></p>

<p><a href="/contest/vacation-photo">Submit your best vacation photos and win prizes!</a></p>

<p><a href="/newsletter">Sign up for our newsletter</a></p>

{{> weather}}
